accelerate
bitsandbytes
datasets
deepspeed==0.16.3
einops
isort
jsonlines
latex2sympy2_extended
loralib
math-verify
optimum
packaging
peft
ray[default]==2.42.0
tensorboard
torch==2.5.1
torchmetrics
tqdm
transformers==4.48.3
transformers_stream_generator
trl
wandb
wheel
